.footer {
  background: var(--bg);
  color: var(--text);
  padding: 50px 1rem 30px 1rem;
  border-top: 1px solid var(--border);
}

.footerContent {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 0 20px; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: flex-start;
  /* padding: 0 var(--spacing-base); */
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footerLinks a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.3s;
  font-size: 0.95rem;
}

.footerLinks a:hover {
  color: var(--primary);
}
.footerLinks div:hover {
  color: var(--primary);
}

.rightSection {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.description {
  font-size: 0.9rem;
  color: #aaa;
  line-height: 1.5;
}

.socialLinks {
  display: flex;
  gap: 15px;
  justify-content: flex-end;
}

.socialLinks a {
  color: var(--text);
  font-size: 1.4rem;
  transition: color 0.3s;
}

.socialLinks a:hover {
  color: var(--primary);
}

.miniLinks {
  display: flex;
  gap: 15px;
  font-size: 0.85rem;
  justify-content: flex-end;
}

.miniLinks a {
  color: var(--text-light);
  text-decoration: none;
  transition: color 0.3s;
}

.miniLinks a:hover {
  color: var(--primary);
}

.copy {
  font-size: 0.8rem;
  color: #777;
  margin-top: 10px;
}

@media (max-width: 768px) {
  .footerContent {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footerLinks,
  .rightSection {
    align-items: center;
  }

  .rightSection {
    text-align: center;
  }

  .socialLinks,
  .miniLinks {
    justify-content: center;
  }
}
