.themeSelectorContainer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.controlBox {
  background: var(--card);
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: var(--shadow-md);
  transition: background 0.3s ease, transform 0.2s ease;
}

.controlBox:hover {
  background: var(--hover);
  transform: scale(1.05);
}

.icon {
  font-size: 18px;
  color: var(--text);
}
